.u-section-1 .u-sheet-1 {
  min-height: 558px;
}

.u-section-1 .u-group-1 {
  width: 400px;
  min-height: 499px;
  height: auto;
  margin: 59px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-1 .u-group-2 {
  min-height: 412px;
  width: 412px;
  height: auto;
  margin: 0 -93px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 488px;
  height: 327px;
  margin: -417px auto 0 134px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -311px 16px 0 675px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  margin: 17px 53px 60px 712px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 328px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -312px;
    margin-right: -70px;
    margin-left: 561px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-right: 19px;
    margin-left: 650px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 344px;
    height: 252px;
    margin-top: -386px;
    margin-left: 59px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -301px;
    margin-right: -34px;
    margin-left: 415px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 0;
    margin-left: 448px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 317px;
    height: 219px;
    margin-top: -370px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -288px;
    margin-right: -16px;
    margin-left: 252px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 269px;
    margin-right: -33px;
    margin-left: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-group-1 {
    min-height: 536px;
    width: 323px;
    margin-top: 58px;
  }

  .u-section-1 .u-group-2 {
    min-height: 438px;
    width: 370px;
    margin-top: 5px;
    margin-right: -73px;
  }

  .u-section-1 .u-image-1 {
    height: 158px;
    width: 264px;
    margin-top: -412px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -233px;
    margin-right: -6px;
    margin-left: 76px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 245px;
    margin-left: 20px;
    margin-right: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 524px;
}

.u-section-2 .u-text-1 {
  margin: 79px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 143px;
  height: 143px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -370px 38px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-2 .u-shape-1 {
    width: 101px;
    height: 101px;
    margin-top: -450px;
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    margin-top: -542px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 77px;
  }

  .u-section-2 .u-shape-1 {
    width: 79px;
    height: 79px;
    margin-top: -630px;
    margin-right: -20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 0;
    margin-right: -13px;
    margin-bottom: 21px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 648px;
}

.u-section-3 .u-group-1 {
  height: auto;
  margin-top: 59px;
  margin-bottom: 60px;
  min-height: 462px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  min-height: 293px;
  width: 510px;
  height: auto;
  margin: 67px -63px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  margin: -316px -38px 0 38px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -209px -331px 0 594px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    min-height: 498px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    width: 385px;
    margin-top: 101px;
    margin-right: -155px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -336px;
    margin-right: -37px;
    margin-left: 37px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: -230px;
    margin-left: 493px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 50px;
  }

  .u-section-3 .u-group-2 {
    margin-top: -325px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -27px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 318px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-3 .u-group-1 {
    min-height: 486px;
    margin-top: 58px;
    margin-bottom: 15px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 80px;
    margin-right: -44px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -320px;
    margin-right: -44px;
    margin-left: 44px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -194px;
    margin-right: -55px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 54px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-group-2 {
    margin-right: -155px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -187px;
    margin-right: -75px;
    margin-left: 238px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 257px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  margin: 26px auto 0 574px;
}

.u-section-4 .u-btn-2 {
  margin: -46px auto 39px 434px;
  padding: 10px 43px 11px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 30px;
    margin-left: 485px;
  }

  .u-section-4 .u-btn-2 {
    margin-bottom: 60px;
    margin-left: 347px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 28px;
    margin-left: 362px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 226px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 20px;
    margin-left: 306px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-btn-1 {
    margin-top: 43px;
    margin-left: 176px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -45px;
    margin-left: 32px;
  }
}