 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 733px;
}

.u-section-1 .u-shape-1 {
  width: 565px;
  height: 685px;
  margin: 0 auto 0 205px;
}

.u-section-1 .u-image-1 {
  width: 792px;
  height: 528px;
  margin: -619px auto 0 20px;
}

.u-section-1 .u-shape-2 {
  width: 204px;
  height: 204px;
  margin: -638px auto 0 60px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  width: 543px;
  min-height: 346px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  height: auto;
  margin: 135px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-shape-1 {
    width: 538px;
    height: 506px;
    margin-top: 60px;
    margin-left: 80px;
  }

  .u-section-1 .u-image-1 {
    width: 646px;
    height: 424px;
    margin-top: -465px;
    margin-left: 12px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -525px;
    margin-left: 31px;
  }

  .u-section-1 .u-group-1 {
    width: 365px;
    min-height: 182px;
    margin-top: 155px;
    margin-right: 64px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 18px;
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-shape-1 {
    width: 481px;
    height: 566px;
    margin-top: 0;
    margin-left: 19px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -472px;
    margin-left: -25px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -490px;
    margin-left: -50px;
  }

  .u-section-1 .u-group-1 {
    width: 345px;
    min-height: 126px;
    margin-top: 160px;
    margin-right: 29px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-1 .u-shape-1 {
    width: 416px;
    height: 414px;
    margin-top: 35px;
    margin-left: -24px;
  }

  .u-section-1 .u-image-1 {
    width: 425px;
    height: 329px;
    margin-top: -351px;
    margin-left: -32px;
  }

  .u-section-1 .u-shape-2 {
    width: 145px;
    height: 145px;
    margin-top: -411px;
  }

  .u-section-1 .u-group-1 {
    width: 284px;
    min-height: 159px;
    margin-top: 94px;
    margin-right: -14px;
    margin-bottom: 37px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-1 .u-shape-1 {
    width: 260px;
    height: 289px;
    margin-top: 36px;
    margin-left: 34px;
  }

  .u-section-1 .u-image-1 {
    width: 310px;
    height: 216px;
    margin-top: -244px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 75px;
    height: 75px;
    margin-top: -269px;
    margin-left: -14px;
  }

  .u-section-1 .u-group-1 {
    width: 191px;
    min-height: 114px;
    margin-top: -42px;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: 144px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1758px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1155px;
  margin: 50px auto 0 -15px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 616px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 11px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 41px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 22px 0 0 41px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 616px;
}

.u-section-2 .u-container-layout-2 {
  padding: 21px 0;
}

.u-section-2 .u-image-1 {
  width: 433px;
  height: 75px;
  margin: 0 auto;
}

.u-section-2 .u-layout-wrap-2 {
  width: 1155px;
  margin: 0 auto 0 -15px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 300px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 11px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 41px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 22px 0 0 41px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 299px;
}

.u-section-2 .u-container-layout-4 {
  padding: 21px 0;
}

.u-section-2 .u-image-2 {
  width: 200px;
  height: 150px;
  margin: 0 170px 0 auto;
}

.u-section-2 .u-layout-wrap-3 {
  width: 1155px;
  margin: 0 auto 0 -15px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 155px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 11px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 40px 41px 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: 22px 0 0 41px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 191px;
}

.u-section-2 .u-container-layout-6 {
  padding: 21px 0;
}

.u-section-2 .u-image-3 {
  width: 433px;
  height: 150px;
  margin: 0 auto;
}

.u-section-2 .u-layout-wrap-4 {
  width: 1155px;
  margin: 0 auto 0 -15px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 192px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 11px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 40px 41px 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0 41px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 155px;
}

.u-section-2 .u-container-layout-8 {
  padding: 21px 0;
}

.u-section-2 .u-image-4 {
  width: 433px;
  height: 150px;
  margin: 0 auto;
}

.u-section-2 .u-layout-wrap-5 {
  width: 1155px;
  margin: 0 auto 0 -15px;
}

.u-section-2 .u-layout-cell-9 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 11px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 40px 41px 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.125rem;
  margin: 22px 0 0 41px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-10 {
  padding: 21px 0;
}

.u-section-2 .u-image-5 {
  width: 433px;
  height: 150px;
  margin: 0 auto;
}

.u-section-2 .u-layout-wrap-6 {
  width: 1155px;
  margin: 0 auto 0 -15px;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-11 {
  padding: 0 11px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 40px 41px 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.125rem;
  margin: 22px 0 0 41px;
}

.u-section-2 .u-layout-cell-12 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-12 {
  padding: 13px 0;
}

.u-section-2 .u-image-6 {
  width: 433px;
  height: 150px;
  margin: 0 54px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1903px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 20px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 244px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 243px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 126px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 155px;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 156px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-wrap-5 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 122px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 122px;
  }

  .u-section-2 .u-layout-wrap-6 {
    width: 940px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 122px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 122px;
  }

  .u-section-2 .u-image-6 {
    margin-right: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2302px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 384px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 62px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 346px;
  }

  .u-section-2 .u-image-2 {
    margin-right: auto;
  }

  .u-section-2 .u-layout-wrap-3 {
    margin-top: 20px;
    width: 720px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 185px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    height: 125px;
    margin-top: 79px;
    margin-bottom: -19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 182px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    height: 125px;
    margin-top: 57px;
    margin-bottom: -21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-5 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-9 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 300px;
  }

  .u-section-2 .u-image-5 {
    height: 125px;
    margin-top: 98px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-6 {
    width: 720px;
    margin-top: 20px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 93px;
  }

  .u-section-2 .u-image-6 {
    width: 360px;
    height: 125px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2843px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 177px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 540px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 260px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 192px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 178px;
  }

  .u-section-2 .u-image-3 {
    height: 188px;
    margin-top: 54px;
    margin-bottom: -22px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 273px;
  }

  .u-section-2 .u-image-4 {
    height: 188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-5 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 166px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    height: 188px;
    margin-top: 42px;
    margin-bottom: -21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-6 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 150px;
  }

  .u-section-2 .u-image-6 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3276px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-2 .u-image-1 {
    height: 59px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-3 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 150px;
  }

  .u-section-2 .u-image-3 {
    height: 118px;
    width: 340px;
    margin: 0 auto 0 -10px;
  }

  .u-section-2 .u-layout-wrap-4 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 172px;
  }

  .u-section-2 .u-image-4 {
    height: 118px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-5 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 138px;
  }

  .u-section-2 .u-image-5 {
    height: 118px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-6 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 144px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-6 {
    height: 118px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}